{% extends "main.html" %}
{% block content %}
{% include "publicheader.html" %}
<div class = "row flashed">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li><strong>{{message}}</strong></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</div>
<div class = "row">
	<div class ='col-md-4 col-xs-4'>
		<h2 class = "genre-header">Genres</h2>
	</div>
	<div class = "col-md-8 col-xs-8">
		<h2 class = "addition-header">Latest Additions</h2>
	</div>
</div>
<div class = "row">
	<div class = "col-md-4 col-xs-4 category-links">
	{% for genres in categories %}
		 	<a href="{{url_for('showGames', category_id = genres.id)}}">{{genres.name}}</a>
		 	<br>
	{% endfor %}
	</div>
	<div class = "col-md-8 col-xs-8 addition-links">
		{% for g in games %}
			<a href="{{url_for('showDescription', category_id = g.category_id, item_id = g.id)}}">{{g.name}} ({{g.category.name}})</a>
			<br>
		{% endfor %}
	</div>
</div>
{% endblock %}
